:root {
  --color-primary: #0D1117;
  --color-secondary: #E97E14;
  --color-tertiary: #151B23;
  --color-links-nav: #FFFFFF;
  --padding-botoes-cta: 0.8rem 2rem;

  --border-radius: 3px;
  --border: 1px solid rgb(49, 49, 49);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
}