nav.nav {
    width: 100%;
    height: auto;
    min-height: 90px;
    display: flex;
    align-items: center;
    background: var(--color-primary);
    border-bottom: var(--border);

    ul {
        height: 100%;
        list-style: none;
        
        li {
            margin: 0 1rem;


            a {
                color: var(--color-links-nav);

                &:hover {
                    color: rgb(150, 150, 150);
                }
            }

            .btn-contato-cta {
                background: var(--color-tertiary);
                border-radius: var(--border-radius);
                padding: var(--padding-botoes-cta);
                border: var(--border);
                transition: var(--transition);

                &:hover {
                    color: var(--color-links-nav);
                    background: var(--color-secondary);
                }
            }
        }
    }
}